/*Santhosh*/
.header{
	padding: 3% 0;
	background-color: blue;
	transition: all 1s;

	.tabLinks{
		float: right !important;
		position: relative;
		.tab{
			display: inline;
			margin-right: 5%;
		}

		.tab.feature{
			margin-right: 2% !important;

			i{
				font-size: 0.65em;
				vertical-align: middle;
			}
		}


		.tab a{
			text-decoration: none;
			color: white;
			font-weight: 600;
			text-transform: uppercase;
			padding: 10px;
			border: 2px solid transparent;
			transition: all 0.5s ease-out;
		}

		.tab a:hover{
			border: 2px solid white;
		}

		// Search Drop Down
		#dropDownMenu{
			top: 60px !important;
			right: 15% !important;
			left: unset !important;
			width: 315px;
			border-top: 2px solid black;
			border-radius: 0;
		}

		.headSearch{
			padding: 0 0 0 2%;
			input{
				display: inline !important; 

			}

			input{
				margin-right: -5px;
				width: 230px !important;
				border: 2px solid #ccc;
				border-right: none;
				box-shadow: none !important;
				width: 60%;
			}

			input:focus{
				border: 2px solid #337ab7;
			}
			span{
				margin-left: 0px;
				width: 40%;
				button{
					margin: -3px 0 0 -2px; 
				}
			}
		}

	}
}
.transBg{
	background-color: #333333 !important;
	padding: 2% 0;
}
.mainContent{
	height: 800px;
}

/*Stephen*/
/****************************************************************/
/* Tablet */
/****************************************************************/
@media (max-width: 1170px) and (min-width: 991px){
/*Santhosh*/

/*Stephen*/
}

/****************************************************************/
/* Mobile SM */
/****************************************************************/
@media (min-width: 751px) and (max-width: 990px){
/*Santhosh*/

/*Stephen*/
}
/****************************************************************/
/* Mobile XS */
/****************************************************************/
@media (max-width: 750px){
/*Santhosh*/

/*Stephen*/
}